<div class="container" id="rail">
  <div class="row justify-content-center">
    <div class="col col-sm-12 col-md-9 col-lg-6 text-center">
      <%= image_tag "moeblocks.png", height: 400, class: "mt-5", style: "animation:spin 8s linear infinite;" %>
      <div class="m-5">
        <div class="card">
          <div class="card-header h3">Make your world moe!</div>
          <div class="card-body" style="font-family: sans-serif;">
            MoeBlocks adds moes, mobs that do chores and bring gifts in attempt to become
            your favorite, offering a fun and inuitive experience in Minecraft.
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col pr-0">
                <a href="https://www.curseforge.com/minecraft/mc-mods/moeblocks" class="btn btn-primary w-100 disabled">Download</a>
              </div>
              <div class="col">
                <a href="https://discord.gg/tMkyKHE" class="btn btn-primary w-100">Discord</a>
              </div>
            </div>
            <span class="small text-muted">Betas are available through our Discord.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>